{{>layouts/header}}
{{#deletedId}}
    <table class="table">
        <h2>전체 Article 목록</h2>
        <h1>{{deletedId}}가 삭제되었습니다!</h1>
        <theade>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
        </theade>
        <tbody class="table-group-divider">
        {{#articles}}
            <tr>
                <td><a href="/articles/{{id}}" style="text-decoration: none; color: black;"><div>
                    id: {{id}}</td>
                <td>title: {{title}}</td>
                <td>content: {{content}}</td>
                </a>
            </tr>
        {{/articles}}
        </tbody>
    </table>
{{/deletedId}}
{{^deletedId}}
    <table class="table">
        <h2>전체 Article 목록</h2>
        <theade>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
        </theade>
        <tbody class="table-group-divider">
        {{#articles}}
            <tr>
                <td><a href="/articles/{{id}}" style="text-decoration: none; color: black;"><div>
                    {{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                </a>
            </tr>
        {{/articles}}
        </tbody>
    </table>
{{/deletedId}}
<a href="/articles/new" class="card-link">새 게시글 작성 </a>
{{>layouts/footer}}