{{>layouts/header}}
<div>상세보기 페이지입니다.</div> <br/>
<div class="card" style="width: 18rem;">
    {{#article}}
        <div class="card-body"></div>
        <h5 class="card-title">id: {{id}}</h5>
        <h6 class="card-subtitle mb-2">title: {{title}} </h6>
        <p class="card-text">content: {{content}}</p>
    {{/article}}
    <br/>
    <a href="/articles/new">새글 작성</a>
    <a href="/articles">목록</a>
</div>
{{>layouts/footer}}