{{>layouts/header}}
{{#article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <p class="card-text">{{content}}</p>
        </div>
    </div>
    <a href="/articles" class="card-link">목록</a>
    <a href="/articles/{{id}}/update" class="btn btn-danger">수정</a>
    <a href="/articles/{{id}}/delete" class="btn btn-danger">삭제</a>
{{/article}}
{{>layouts/footer}}