여기는 Edit Page입니다.
{{#article}}
    <form action="/articles/{{id}}/update" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="text" name="title" value="{{title}}" />
        <textarea rows="3" name="content">{{content}}</textarea>
        <input type="submit"/>
    </form>
    <a href="/articles/{{id}}">수정 취소 | </a>
    <a href="/articles">목록</a>
{{/article}}