{{>layouts/header}}
<form class="container" action="/articles/posts" method="post">
    Title: <input type="text" name="title"> <br/>
    Content: <input type="text" name="content"> <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    </br>
    <a href="/articles">목록</a>
</form>
{{>layouts/footer}}